* {
  margin: 0;
  padding: 0;
}
body, body.basic {
  font-family: Lato;
  width:100%;
  height: 100%;  
  background: radial-gradient(ellipse at bottom, #72d2bd59 15%, #4d75b161 100%);
  background-attachment: fixed;
}	
div.index{
  text-align: center;
  padding-top: 300px;
}
img.loginProfile{
  width: 20px
}

div.client-profile{
  margin-left: 100px;
  padding-top: 112px;
  margin-right: 100px;
}
div.admin-profile{
  padding-top: 50px;
}
div.nav{
  width: 100vw;
  position: fixed;
  height: 88px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: flex-end;
}
div.signup{
  margin-top: 150px !important;
  padding-top: 3% !important;
  padding-bottom:2% !important;
}
div.navContainer {
padding-right: 30px;
display: flex;
}
.deposit{
  color: green;
}
.transfer{
  color: red;
}
div.form-wrapper {
  margin-top: 190px;
  padding-top: 5%;
  padding-bottom:5%;
  text-align: center;
  height: auto;
  width: 400px;
  background-color: white;
}
div.admin-form{
  margin-top: 100px !important;
}

a{
  text-decoration: none;
  color:black
}
 .navLink, .navLink>a {
  padding: 10px;
  cursor:pointer;

  font-size: 12px;
  text-transform: uppercase;
  font-size: 13px
}
a:hover{
  text-decoration: underline;
}
input.invalid{
  border: 2px solid red !important;
}
.centerLink{
  text-align: center;
}
.tab-title{
  font-size: 23px;
  padding: 10px;
  margin-left: 10px;
}
.tab-title-admin{
padding-left: 33px;
}
section{
  display: flex;
  justify-content: center;
}
div.admin-wrapper{
  margin-left: 70px;
padding-top: 80px;
}
div.profile-flex{
  display: flex;
}
div.tab{
  padding: 2%;
  height: auto;
  margin-top:2%;
  background-color: white;
}
div.tab-admin{
  width: 85vw;
  height: auto;
  margin:2% 0 2% 0;
  padding:2% 0;
  background-color: white;
}
div.person{
  display: flex;
}
div.profile{
  width:38%; 
  margin:2%
}
div.box{
  width:92%;
  margin:3% auto;
}
div#landingPage{
  background-color: white;
  height: 80vh;
  width: 90vw;
  margin: 30px auto;
}
table{
  border-Collapse: collapse;
  width: 75vw;
  margin: auto;
  padding: 0 100px 0 100px;
  text-align: center
}
thead>td{
  text-align: center
}
thead>tr{ 
  text-Align: "left";
  border-Bottom: "#dbdbdb 1px solid";
  height: 50px
}
tr{
  height: 80px;
  border-Top: #dbdbdb 1px solid
}
th{
  padding-Right: 13;
  width: "32%",
}
td{
  max-Width: 56px
}
hr.separateUsers{
  width:600px;
  margin: 10px 0 10px 0;
}
hr.separateLoans{
  width:200px; 
  margin: 20px 0 20px 0;
}
h1.title {
  font-size: 26px; 
  margin-left: 2%;
}
.dot{
  margin-left: 7px;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
a.toggleLink{
  margin-left: 30px;
}
.false{
  background-color:#ff6666
}
.true{
  background-color:	#98FB98
}
.subtitle {
  margin: 20px 0 20px 0;
}
h3.text {
  margin: 10px 0 10px 0;
}
h4{
  padding-top: 10px
}
button, .button  {
  padding: 15px 30px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: rgb(9,22,42);
  max-width:200px;
  color:white;
  cursor: pointer;
  text-align: center;
  margin: 10px auto
}
button:hover, .button:hover{
  background-color:  rgba(9,22,42, 0.7);
}
.forgotPasswordLink{
  text-transform: uppercase;
  font-size: 13px
}
div.button>a{
  color:white; 
  text-decoration: none
}
form {
  width:290px;
  margin-top:30px;
  display: inline-grid;
}
img.arrow{
  width:15px;
  position: absolute;
  margin-top: 10px;
}
img.user{
  height: 116px;
  margin-top: 28px;
}
div.profileDiv{
  padding-left: 40px;
  font-size: 13px;
  line-height: 1.6;
  margin-top: 12px;
}
div#admin{
  width:47%;
  padding-top: 4%;
  padding-bottom:4%;
}
select{  
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  padding-left: 10px;
  height: 36px;
  margin-bottom: 20px;
  padding-right: 22px;
  width: 252px;
  background-color: white;
}
div.icon-binder{
  margin-right: 26px;
}
input {
  border:1px solid lightgray;
  padding: 15px 12px 9px 15px;
  margin-bottom: 20px;
  width: 230px;
  border: none;
  border-bottom: 1px solid lightgray;
  outline:none;
}
